<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" metadata-complete="true">
    <servlet>
        <servlet-name>SongBookServlet</servlet-name>
        <servlet-class>songbook.server.SongBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>songbook.server.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SongBookServlet</servlet-name>
        <url-pattern>rest/song/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
</web-app>
