
<div class="container-fluid">
    <div id="song" class="song-edit" data-songid="${songId}">${song}</div>
</div>
<script src='/js/ace/ace.js'></script>
<script>
    var adminToolbar = document.getElementById('adminToolbar');
    adminToolbar.innerHTML += '<a id="saveButton" href="#save"><span title="Save" class="btn btn-default navbar-btn  glyphicon glyphicon-floppy-save"></span></a> ';
    if ('${songId}') {
        adminToolbar.innerHTML += '<a id="deleteButton" href="/delete/${songId}"><span title="Delete" class="btn btn-default navbar-btn glyphicon glyphicon-trash"></span></a> ';
    }
    require(["./edit"], function() {});
</script>

