<style>
    #result {
        margin-top: 1em;
        height: 500px;
    }

    #create-songdata, #update-songdata {
        height: 300px;
    }

    .action-form {
    }
</style>
<div class="container">
    <div>
        <div class="col-sm-6">
            <h1>
                Song Api Console
            </h1>
        </div>
        <div class="form-group col-sm-6">
            <label for="server-url" class="control-label">Server URL</label>
            <input class="form-control" type="text"  name="serverUrl" id="server-url" value="/songs/"/>
        </div>
    </div>
    <div>
        <ul id="services" class="nav nav-pills" role="navigation">
            <li><a href="#searchApi">Search</a></li>
            <li><a href="#get">Get</a></li>
            <li><a href="#create">Create</a></li>
            <li><a href="#update">Update</a></li>
            <li><a href="#delete">Delete</a></li>
        </ul>
    </div>
    <div class="col-sm-6">

        <div id="searchApi" class="action-form">
            <form role="form">
                <div class="form-group">
                    <label for="search-query">Query</label>
                    <input class="form-control" type="text"  name="query" id="search-query"/>
                </div>
                <div class="form-group">
                    <label for="search-content-type">Content Type</label>

                    <select class="form-control" name="contentType" id="search-content-type">
                        <option value="text/plain">text</option>
                        <option value="text/html">html</option>
                    </select>
                </div>

                <button class="btn btn-default" name="search">Search</button>
            </form>
        </div>

        <div id="get" class="action-form">
            <form >
                <div class="form-group">
                    <label for="get-id">Id</label>
                    <input class="form-control" type="text"  name="id" id="get-id"/>

                    
                </div>
                <div class="form-group">
                    <label for="get-content-type">Content Type</label>
                    <select class="form-control" name="contentType" id="get-content-type">
                        <option value="text/plain">text</option>
                        <option value="text/html">html</option>
                    </select>
                </div>

                <button class="btn btn-default" name="get">Get</button>
            </form>
        </div>

        <div id="create" class="action-form">
            <form >
                <div class="form-group">
                    <label for="create-songdata">Song Data</label>
                    <div id="create-songdata"></div>
                </div>
                <button class="btn btn-default" name="create">Create</button>
            </form>
        </div>

        <div id="update" class="action-form">
            <form >
                <div class="form-group">
                    <label for="update-id">Id</label>
                    <input class="form-control" type="text"  name="id" id="update-id"/>
                </div>
                <div class="form-group">
                    <label for="update-songdata">Song Data</label>
                    <div id="update-songdata"></div>
                </div>
                <button class="btn btn-default" name="update">Update</button>
            </form>
        </div>

        <div id="delete" class="action-form">
            <form >
                <div class="form-group">
                    <label for="delete-id">Id</label>
                    <input class="form-control" type="text"  name="id" id="delete-id"/>
                </div>
                <button class="btn btn-default" name="delete">Delete</button>
            </form>
        </div>

    </div>
    <div id="result" class="col-sm-6"></div>

</div>

<script src='/js/ace/ace.js'></script>

<script>
    require.config({paths: {
        ace: "/js/ace/ace",
    }})
    require(["./consoleApi"], function() {});
</script>


