
<div>
    <textarea id="song" class="song-edit" data-songid="${songId}">${song}</textarea>
</div>
<script>
    var toolbar = document.getElementById('toolbar');
    toolbar.innerHTML += '<a id="saveButton" href="#save"><span class="btn btn-default navbar-btn  glyphicon glyphicon-floppy-save"></span></a> ';
    if ('${songId}') {
        toolbar.innerHTML += '<a id="deleteButton" href="/delete/${songId}"><span class="btn btn-default navbar-btn glyphicon glyphicon-trash"></span></a> ';
    }
    require(["./edit"], function() {});
</script>

