
<div class="container-fluid">
    ${song}
</div>

<script>
    var toolbar = document.getElementById('toolbar');
    toolbar.innerHTML += '<a id="editButton" href="/edit/${songId}"><span id="" title="Edit" class="btn btn-default navbar-btn glyphicon glyphicon-pencil"></span></a> ';
    toolbar.innerHTML += '<a id="deleteButton" href="/delete/${songId}"><span title="Delete" class="btn btn-default navbar-btn glyphicon glyphicon-trash"></span></a> ';
    require(["./edit"], function() {});
</script>

